.row
  Just 'ok' the app to use your mic, then talk. When you're done, make some changes (be quiet, though!) and then click Save to save the document to your document list.
  -#.text_field
  = form_tag documents_path, method: :post do
    -#= hidden_field_tag 'hidden info', '', id: 'hidden_info' do
    -#    .text_field_hidden{style: "display: none;"}
    = text_area_tag 'document_text', '', id: 'doc_text_area'
    = submit_tag 'Save', class: 'orange_link', id: 'document_save'