.row
  %h1 Your documents!
  .margin-top
    - @documents.each do |document|
      = link_to document do
        .medium-4.columns
          .card.margin
            -#.image
            -#<img src="http://static.pexels.com/wp-content/uploads/2014/07/alone-clouds-hills-1909-527x350.jpg">
            %span.title
              = document.title
            .content
              = document.body
            .action
              = document.created_at.strftime("%d %B, %Y")
